---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - namespaces
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - get
  - list
- apiGroups:
  - cluster.x-k8s.io
  resources:
  - clusters
  - machines
  verbs:
  - get
  - list
- apiGroups:
  - infra.exalsius.ai
  resources:
  - colonies
  verbs:
  - get
  - list
- apiGroups:
  - infra.exalsius.ai
  resources:
  - users
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - infra.exalsius.ai
  resources:
  - users/finalizers
  verbs:
  - update
- apiGroups:
  - infra.exalsius.ai
  resources:
  - users/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - infrastructure.cluster.x-k8s.io
  resources:
  - remotemachines
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - infrastructure.cluster.x-k8s.io
  resources:
  - remotemachines/status
  verbs:
  - get
- apiGroups:
  - k0rdent.mirantis.com
  resources:
  - accessmanagements
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - k0rdent.mirantis.com
  resources:
  - clusterdeployments
  verbs:
  - get
  - list
- apiGroups:
  - training.exalsius.ai
  resources:
  - ddpjobs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - training.exalsius.ai
  resources:
  - ddpjobs/finalizers
  verbs:
  - update
- apiGroups:
  - training.exalsius.ai
  resources:
  - ddpjobs/status
  verbs:
  - get
  - patch
  - update
